@import "~react-image-gallery/styles/css/image-gallery.css";
body {
	font-family: Open Sans,
		Roboto,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
	margin: 0;
	padding: 0;
}

.myFlex>div>p:first-child {
	font-weight: bold;
}


@media screen and (max-width: 700px) {
	.myFlex {
		flex-direction: column!important;
	}
	.myFlex > div {
		margin-bottom: 10px 
	}
	.myFlex > div > p:first-child {
		font-weight: bold;
	}
}
